<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Masaya KUMAGAI">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>熊谷将也の研究業績</title>
  </head>

  <body>
    <div id="app">
      <v-app style="background-color:black;">
        <v-main style="background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),url('./images/periodictable.jpg');">
          <v-container fluid class="pa-sm-10 pa-7" style="height:100%;">
            <v-row justify="center" align-content="center">
              <v-col cols="12" class="pt-sm-10 pt-0 pb-0 mt-sm-0 mt-2 mb-sm-5 mb-0">
                <v-card flat color="rgba(255, 255, 255, 0)" class="text-md-h4 text-h5" width="100%" style="text-align: center;color:#fff;">
                  熊谷 将也
                </v-card>
              </v-col>
            </v-row>
            <v-row class="mt-0" justify="center" align-content="center">
              <v-col cols="12" class="pt-0 pb-sm-5 pb-0 mt-sm-0 mt-2 mb-sm-2 mb-0">
                <v-card flat color="rgba(255, 255, 255, 0)" class="text-md-h5 text-h6" width="100%" style="text-align: center;color:#f5f5f5;">
                  KUMAGAI Masaya
                </v-card>
              </v-col>
            </v-row>
            <v-row justify="center" align-content="center">
              <v-col cols="11" sm="7" class="pa-0 mt-sm-12 mt-7">
                <v-card flat color="rgba(255, 255, 255, 0)">
                  <v-row>
                    <v-col cols="6" md="3" class="pa-0" v-for="block of blocks">
                      <v-hover v-slot="{ hover }">
                        <v-card tile flat @click="overlayflow = !overlayflow;selectedblock=block;" :color="hover ? block.color+'55' : block.color+'dd'">
                          <v-responsive :aspect-ratio="1">
                            <v-card-text style="height:100%;" class="">
                              <v-row style="height:100%;" class="my-0" justify="center" align-content="center">
                                <v-col class="" style="text-align: center;">
                                  <div><v-icon dark>{{block.icon}}</v-icon></div>
                                  <div class="text-xsOnly-overline" style="height:100%;color:#fff;letter-spacing:0.1666666667em;font-size:16px;font-weight:400;">
                                    {{block.name}}
                                  </div>
                                </v-col>
                              </v-row>
                            </v-card-text>
                          </v-responsive>
                        </v-card>
                      </v-hover>
                    </v-col>
                  </v-row>
                </v-card>
                
                <v-dialog
                  transition="dialog-transition"
                  max-width="90%"
                  scrollable
                  v-model="overlayflow"
                >
                  
                  <v-card >
                    <v-toolbar
                      :color="selectedblock.color"
                      flat
                      dark
                      class="text-h5"
                    >
                      {{selectedblock.name}}
                      <v-spacer></v-spacer>
                      <v-btn
                      text
                      @click="overlayflow = false"
                    >Close</v-btn>
                    </v-toolbar>
                    <v-card-text class="py-5" v-if="Object.keys(contents_notion).indexOf(selectedblock.name)>-1">
                      <v-expansion-panels
                        flat
                        multiple
                        accordion
                        flat
                        :value="[...Array(Array.from(new Set(contents_notion[selectedblock.name].map(cnt=>cnt.category))).length)].map((_, i) => i)"
                        v-if="(selectedblock.name == 'Presentations')||(selectedblock.name == 'Profile')"
                      >
                        <v-expansion-panel
                          v-for="cat of Array.from(new Set(contents_notion[selectedblock.name].map(cnt=>cnt.category)))"
                        >
                          <v-expansion-panel-header class="text-h6 pa-0" style="color:grey;">
                            {{cat}}
                          </v-expansion-panel-header>
                          <v-expansion-panel-content>
                            <v-card flat :color="selectedblock.color+'11'" class="my-2 py-2 px-4" v-for="(content,index) in contents_notion[selectedblock.name].filter(cnt=>cnt.category == cat)">
                              <v-card-text class="pa-0" style="color:black;">
                                  <span v-if="(selectedblock.name != 'Profile')&&(selectedblock.name != 'Contact')&&(selectedblock.name != 'Works')">{{index+1}}. </span>
                                  <span v-html="content.text.replace('熊谷将也','<b>熊谷将也</b>').replace('熊谷 将也','<b>熊谷 将也</b>').replace('M. Kumagai','<b>M. Kumagai</b>').replace('Masaya Kumagai','<b>Masaya Kumagai</b>')"></span>
                              </v-card-text>
                            </v-card>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panels>

                      <v-row v-else v-for="cat of Array.from(new Set(contents_notion[selectedblock.name].map(cnt=>cnt.category)))">
                        <v-col cols="12" v-if="cat != undefined">
                          <div class="text-h6">{{cat}}</div>
                        </v-col>
                        <v-col cols="12" class="py-2" v-for="(content,index) in contents_notion[selectedblock.name].filter(cnt=>cnt.category == cat)">
                          <v-card flat :color="selectedblock.color+'10'" class="py-2 px-4">
                            <v-card-text class="pa-0" style="color:black;">
                                <span v-if="(selectedblock.name != 'Profile')&&(selectedblock.name != 'Contact')&&(selectedblock.name != 'Works')">{{index+1}}. </span>
                                <span v-html="content.text.replace('熊谷将也','<b>熊谷将也</b>').replace('熊谷 将也','<b>熊谷 将也</b>').replace('M. Kumagai','<b>M. Kumagai</b>').replace('Masaya Kumagai','<b>Masaya Kumagai</b>')"></span>
                            </v-card-text>
                          </v-card>
                        </v-col>
                      </v-row>
                      <div class="mt-3" id="copyright" v-if="selectedblock.name == 'Presentations'">
                        <h4 id="interview">※著作権に係る注意事項</h4>
                        <div class="text">情報処理学会に投稿された論文の著作権について: 論文の著作権は情報処理学会に帰属します. 論文は著作権者である情報処理学会の許可のもとに掲載するものです. ご利用に当たっては「著作権法」ならびに「情報処理学会倫理綱領」に従うことをお願い致します. </div>
                        <div class="text">About the copyright of the paper submitted to the Information Processing Society: The copyright of the paper is retained by the Information Processing Society of Japan (IPSJ). The paper is published on this web site with the agreement of the author (s) and the IPSJ. Please be complied with Copyright Law of Japan and the Code of Ethics of the IPSJ if any users wish to reproduce, make derivative work, distribute or make available to the public any part or whole thereof.</div>
                      </div>
                    </v-card-text>
                  </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-app>

    </div>
    <style>
      .v-expansion-panel-content__wrap { padding: 5px !important; }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
          el: '#app',
          vuetify: new Vuetify(),
          data() {
              return {
                blocks:[
                  {"name":"Profile","icon":"mdi-account","color":"#004D40"},
                  {"name":"Papers","icon":"mdi-file-document-outline","color":"#1A237E"},
                  {"name":"Presentations","icon":"mdi-message-image","color":"#FF8F00"},
                  {"name":"Awards","icon":"mdi-license","color":"#E57373"},
                  {"name":"Works","icon":"mdi-laptop","color":"#5D4037"},
                  {"name":"Articles","icon":"mdi-book-open-variant","color":"#546E7A"},
                  {"name":"Others","icon":"mdi-hammer-wrench","color":"#BA68C8"},
                  {"name":"Contact","icon":"mdi-email","color":"#00838F"}
                ],
                selectedblock:{},
                contents_notion:{
                  "Profile":[],
                  "Papers":[],
                  "Presentations":[],
                  "Awards":[],
                  "Articles":[],
                  "Others":[],
                  "Contact":[],
                  "Works":[]
                },
                overlayflow:false
              }
          },
          mounted () {
            //Profile
            const profiletableid = '5e5bcbaefd8843c1a2fe1979776d3a21'
            axios.get('https://notion-api.splitbee.io/v1/table/' + profiletableid)
              .then(response => {
                let profile = []
                for(var data of response.data){
                  let text = data["Text"]

                  profile.push({category: data["Category"],text: text})
                }
                this.contents_notion["Profile"] = profile
              })

            //Papers
            const papertableid = 'eac0998cf09b4446a85659aeb64f3815'
            axios.get('https://notion-api.splitbee.io/v1/table/' + papertableid)
              .then(response => {
                let papers = []
                for(var data of response.data){
                  let text = ""
                  if(Object.keys(data).indexOf("Author") > 0){
                    text += data["Author"]
                  }
                  if(Object.keys(data).indexOf("URL") > 0){
                    text += ", " + "<a href="+ data["URL"] +">" + data["Title"] + "</a>"
                  }
                  else{
                    text += ", " + data["Title"]
                  }
                  if(Object.keys(data).indexOf("Journal") > 0){
                    text += ", " + data["Journal"]
                  }
                  if(Object.keys(data).indexOf("Volume") > 0){
                    text += ", " + data["Volume"]
                  }
                  if(Object.keys(data).indexOf("Issue") > 0){
                    text += ", " + data["Issue"]
                  }
                  if(Object.keys(data).indexOf("Year") > 0){
                    text += ", " + data["Year"]
                  }
                  if(Object.keys(data).indexOf("Pages") > 0){
                    text += ", " + data["Pages"]
                  }

                  papers.push({fitst: data["First"],text: text})
                }
                this.contents_notion["Papers"] = papers
              })

              
            //Presentations
            const presentationtableid = '4bd20b5d236447fbae8c7583f495ca49'
            axios.get('https://notion-api.splitbee.io/v1/table/' + presentationtableid)
              .then(response => {
                let presentations = []
                for(var data of response.data){
                  let text = ""
                  if(Object.keys(data).indexOf("Author") > 0){
                    text += data["Author"]
                  }
                  if(Object.keys(data).indexOf("URL") > 0){
                    text += ", " + "<a href="+ data["URL"] +">" + data["Title"] + "</a>"
                  }
                  else{
                    text += ", " + data["Title"]
                  }
                  if(Object.keys(data).indexOf("Event") > 0){
                    text += ", " + data["Event"]
                  }
                  if(Object.keys(data).indexOf("Type") > 0){
                    text += ", " + data["Type"]
                  }
                  if(Object.keys(data).indexOf("Country") > 0){
                    text += ", " + data["Country"]
                  }
                  if(Object.keys(data).indexOf("Year") > 0){
                    text += ", " + data["Year"]
                  }

                  presentations.push({category: data["Category"], fitst: data["First"],text: text})
                }
                this.contents_notion["Presentations"] = presentations
              })

            //Awards
            const awardtableid = '64ec4bb42dce4414b48c9b2a87b8e844'
            axios.get('https://notion-api.splitbee.io/v1/table/' + awardtableid)
              .then(response => {
                let awards = []
                for(var data of response.data){
                  let text = ""
                  if(Object.keys(data).indexOf("URL") > 0){
                    text += "<a href="+ data["URL"] +">" + data["Award"] + "</a>"
                  }
                  else{
                    text += data["Award"]
                  }
                  if(Object.keys(data).indexOf("Author") > 0){
                    text += ", " + data["Author"]
                  }
                  if(Object.keys(data).indexOf("Title") > 0){
                    text += ", " + data["Title"]
                  }
                  if(Object.keys(data).indexOf("Year") > 0){
                    text += ", " + data["Year"]
                  }

                  awards.push({fitst: data["First"],text: text})
                }
                this.contents_notion["Awards"] = awards
              })

            //Articles
            const articletableid = 'edb728c24a6a4746bf723c9d0e1f62eb'
            axios.get('https://notion-api.splitbee.io/v1/table/' + articletableid)
              .then(response => {
                let articles = []
                for(var data of response.data){
                  let text = ""
                  if(Object.keys(data).indexOf("URL") > 0){
                    text += "<a href="+ data["URL"] +">" + data["Title"] + "</a>"
                  }
                  else{
                    text += data["Title"]
                  }
                  if(Object.keys(data).indexOf("Medium") > 0){
                    text += ", " + data["Medium"]
                  }
                  if(Object.keys(data).indexOf("Year") > 0){
                    text += ", " + data["Year"]
                  }

                  articles.push({category: data["Category"],text: text})
                }
                this.contents_notion["Articles"] = articles
              })

            //Contact
            const contacttableid = '60c6db629ddd4796b736baf05fcabb60'
            axios.get('https://notion-api.splitbee.io/v1/table/' + contacttableid)
              .then(response => {
                let contact = []
                for(var data of response.data){
                  let text = data["Text"]

                  contact.push({category: data["Category"],text: text})
                }
                this.contents_notion["Contact"] = contact
              })
              

            //Others
            const othertableid = '0569a73404cd481393c7a9dcfef7b886'
            axios.get('https://notion-api.splitbee.io/v1/table/' + othertableid)
              .then(response => {
                let others = []
                for(var data of response.data){
                  let text = ""
                  if(Object.keys(data).indexOf("URL") > 0){
                    text += "<a href="+ data["URL"] +">" + data["Title"] + "</a>"
                  }
                  else{
                    text += data["Title"]
                  }
                  if(Object.keys(data).indexOf("Comment") > 0){
                    text += ", " + data["Comment"]
                  }

                  others.push({category: data["Category"],text: text})
                }
                this.contents_notion["Others"] = others
              })

            //Works
            const worktableid = '932a4ee5be0a467e92a0f130ca562223'
            axios.get('https://notion-api.splitbee.io/v1/table/' + worktableid)
              .then(response => {
                let works = []
                for(var data of response.data){
                  let text = ""
                  if(Object.keys(data).indexOf("URL") > 0){
                    text += "<a href="+ data["URL"] +">" + data["Name"] + "</a>"
                  }
                  else{
                    text += data["Name"]
                  }

                  works.push({category: data["Category"],text: text})
                }
                this.contents_notion["Works"] = works
              })
          },
          methods: {
              
          }
  });
  </script>

  </body>
</html>
